<html>
<head>
        <title>EVENT-INDEX</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu|Lato|Quicksand|Pacifico|Work Sans|Abel|Berkshire Swash" rel="stylesheet">
</head>
<body>
		<div class="header" id="header">
		<div>
			<h1>
				Event Manager
			</h1>
		</div>
		</div>
		<center><h1>About Developers</h1></center>
		<div class="division dev">
			<div style="display: inline-block;">
				<div class="image_holder card"> 
					<img src = "../images/aditya.jpg" height="280px" width="280px">
					<div class="middle">
						<a href="https://github.com/AdityaHirapara"><img src="../images/git.png" width="40px"></a>
						<a href="https://www.facebook.com/aditya.hirapara"><img src="../images/fb.png" width="40px" height="40px"></a>
						<a href=""><img src="../images/in.png" width="40px"></a>
					</div>
					<div class="content_image" style="text-align: center;">
	                    <span style="text-transform:uppercase;">Aditya Hirapara</span>
	                </div>
                </div>
	            
	        </div>
	        <div style="display: inline-block;">
	        	<div class="image_holder card"> 
					<img src = "../images/abhijeet.jpg" height="280px" width="280px">
					<div class="middle">
						<a href="https://github.com/imabhi786"><img src="../images/git.png" width="40px"></a>
						<a href="https://www.facebook.com/abhijeet.mathur.7"><img src="../images/fb.png" width="40px" height="40px"></a>
						<a href="https://www.linkedin.com/in/abhijeet-mathur-58b812153/"><img src="../images/in.png" width="40px"></a>
					</div>
					<div class="content_image" style="text-align: center;">
	                    <span style="text-transform:uppercase">Abhijeet Mathur</span>
	                </div>
	            </div>
            </div>
		</div>

</body>
</html>