        <div class="header" id="header">
			<div>
				<h1>
					Event Manager
				</h1>
			</div>
		</div>
		<center><h1>Feedback</h1>
	    <form action="/response" method="post">
            <label for="email">Email</label>:
			<input type="email" name="email" style="width:40%;" required><br><br>
			<textarea  name="response"  cols="50%" rows="20%" ></textarea><br>
			<center><input type="submit" name="Send" value="Send" style="max-width:90px;font-size: 100%;" class="button"><center>
	    </form>
	    </center>