
				<div class="header" id="header">
				<div>
					<h1>
						Event Manager
					</h1>
				</div>
				</div>
				<div class = "help_content">
					This web-app helps us in organising events that require great supervision and management like college events i.e. Sparsh and Kashish .
					Lets see how we are going to do that:
					<center><h1>Steps</h1></center>
					<ul type="disc">
						<li>Create the Event.The one who created the event will be the ADMIN.</li><br>
						<li>ADMIN will be directed to the add committee page where he/she can create the committees that are required to manage the event.</li><br>
						<li>Once you are done with committee section , Invite all the members using Invite member option in the dropdown menu.Fill the email-id, committee name field and send the invitation to the concerned members.</li><br>
						<li>Click on the created committee to add members in that committee.Assign the work to assignee along with the description of the work. ADMIN can see all the work assigned in current work section.</li><br>
						<li>Email send to the members will have the URL, through which they can be redirected to the Signup page. Members are requested to fill the signup page and see their assigned work.</li><br>
						<li>Each member will have their own profile.</li><br>
						<li>Once the member has logged in, there will be two options for the member: 
							<br><u><ins>Purpose completed</ins></u>: Click if the assigned work is over.
							<br><u><ins>I can't do it</ins></u> :Click if the member can do the work. </li><br>
						<li>According to the completion of the work, points will be rewarded to the member which will be visible to the ADMIN through leaderboard.</li>	


					</ul>
                       <a href = "/">
                       	<center><div class= "button">Go back to the main page
                       	</div></center>
                       </a>
				</div> 