<html>
        <head>
                <title>EVENT-INDEX</title>
                <link rel="stylesheet" href="css/style.css" type="text/css">
                <link href="https://fonts.googleapis.com/css?family=Ubuntu|Lato|Quicksand|Pacifico|Work Sans|Abel|Berkshire Swash" rel="stylesheet">
        </head>
        <body>
                {{!-- <div class="header font"> --}}
                        
                {{!-- </div> --}}
                
                <div class="body1">
                        <div class="font1">Event-Manager</div>
                        <a href="/create"><div class="button_front" style="width:20%;margin-left:41%;margin-top:0%;">Create Event</div></a><br>
                        <a href="/login"><div class="button_front" style="margin-left:41%;margin-bottom:18%;">Login</div></a>
                </div>
                <div class="footer">
                    <table>
                        <tr>
                            <th>C@2018</th>
                            <th><a href="/help">Help</a></th>
                            <th><img src="../images/logo.png " height="50px" width="50px" style="border-radius: 50%;"></th>
                            <th><a href="/developers">Developers Wiki</a></th>
                            <th><a href="/feedback">Feedback</a></th>
                        </tr>
                    </table>
                </div>
        </body>
</html>