<html>
    <head>
        <title>Event Manager</title>
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    </head>
    <body>
        <div class="main">
		<div class="form-container">
			<form action="/login" method="post">
                <h1>Login</h1>
                {{#if err}}
                    <p class="warning">{{err}}</p>
                {{/if}}
                <label for="event">Event Name</label><br>
                <input type="text" name="event" required><br><br>
                <label for="email">Email</label><br>
				<input type="email" name="email" required><br><br>
				<label for="pass">Password</label><br>
				<input type="password" name="pass" required><br><br>
                <input type="submit" name="submit" value="Login" style="max-width:90px;font-size: 100%;" class="button">
            </form>
        </div>
        </div>
    </body>
</html>